//-------------------------------------------------
//      Store Skin
//--------------------------------------------------



.toolbar .cart
    border: 0

// GALLERY SHOW

.product-show
    .product-gallery
        border: 1px solid red
        .product-thumbnails
            border: 1px solid blue